<div class="px-[10px] w-full h-[60px] bg-[#072240] flex items-center justify-evenly sticky bottom-0 left-0">
	<a href="{{ path('app_logout') }}" class="text-white">
		Wyloguj się
	</a>
	{% if is_granted('ROLE_ADMIN') and app.request.attributes.get('_route') == 'app_user_dashboard' %}
		<a href="{{ path('app_admin_dashboard') }}" class="text-white">
			Przejdź do panelu Administracyjnego
		</a>
	{% elseif is_granted('ROLE_USER') and app.request.attributes.get('_route') == 'app_admin_dashboard' %}
		<a href="{{ path('app_user_dashboard') }}" class="text-white">
			Przejdź do panelu Użytkownika
		</a>
	{% endif %}
</div>
