<div class="px-[10px] w-full h-[60px] bg-[#072240] flex items-center justify-evenly sticky bottom-0 left-0">
	{% if is_granted('ROLE_ADMIN') %}
		<a href="{{ path('app_admin_new_user') }}" class="text-white">
			Stwórz nowego użytkownika
		</a>
	{% endif %}

	{% if is_granted('ROLE_ADMIN') %}
		<a href="{{ path('app_admin_create_storage') }}" class="text-white">
			Stwórz Magazyn
		</a>
	{% endif %}

	{% if is_granted('ROLE_ADMIN') %}
		<a href="{{ path('app_admin_create_article') }}" class="text-white">
			Stwórz Artykuł
		</a>
	{% endif %}
</div>
